<h1>Cloud Agent for Monitoring: monitor.cmu-agens.com</h1>
<br>
<h2>Following APIs are called to visualize monitored data</h2>
<ul>
    <li><a href="/show_sessions">Show all traceroute sessions reporting to the agent</a></li>
    <li><a href="/show_networks">Show all networks that are discovered in the traceroute sessions</a></li>
    <li><a href="/show_isps">Show all ISPs that are discovered in the traceroute sessions</a></li>
    <li><a href="/show_nodes">Show all nodes that are discovered in the traceroute sessions</a></li>
</ul>
<br>
<h2>Following APIs are called to refresh stats in database</h2>
<ul>
    <li><a href="/update_net_size">Update the network sizes by new sessions going through</a></li>
    <li><a href="/update_isp_type">Update the ISP types by all sessions going through</a></li>
</ul>
<br>
<h2>Following APIs are called to report data to the monitoring</h2>
<ul>
    <li>http://monitor.cmu-agens.com/add_route</li>
    POST Request: Post the traceroute data from a session.
</ul>
