<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All ISPs</title>
</head>
<body>
<h1>Show all ISPs monitored</h1>
<form method="get">
<table style="width:100%">
    <tr>
        <td>ID</td>
        <td>ISP Name</td>
        <td>ISP AS #</td>
        <td># of networks in different locations</td>
        <td>Size of the ISP</td>
    </tr>
    {% for isp in isps %}
    <tr>
        <td><input type="checkbox" name="id" value="{{ isp.ASNumber }}"></td>
        <td> {{ isp.name }} </td>
        <td> <a href="/get_isp?as={{ isp.ASNumber }}">AS {{ isp.ASNumber }} </a></td>
        <td> {{ isp.networks.count }}</td>
        <td> {{ isp.get_size }} </td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Get ISP Map" onclick="javascript: form.action='/get_isp_map';"/>
<input type="submit" value="Get ISP Peering" onclick="javascript: form.action='/get_isp_peering';"/>
</form>
</body>
</html>