<head>
    <title>Network | Basic usage</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/draw_networks.js"></script>

    <style type="text/css">
        #wrap {
            width:100%;
            margin:0 auto;
            height: 400px;
        }
        #text {
           float:left;
           width:30%;
        }
        #network {
            float:right;
            width: 68%;
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body onload="draw()">
<div id="wrap">
    <div id="text">
        <h1>Details on network {{ network.id }}</h1>
        {% if network %}
        <ul>
            <li>Network ID: {{ network.id }}</li>
            <li><a href="/get_isp?as={{ network.isp.ASNumber }}">ISP Details</a>
                <ul>
                    <li>ISP: {{ network.isp.name }}</li>
                    <li>AS #: {{ network.isp.ASNumber }}</li>
                    <li>Type: {{ network.isp.type }}</li>
                    <li># of locations the ISP covers: {{ network.isp.networks.count }}</li>
                    <li>The size of the ISP: {{ network.isp.get_size }}</li>
                </ul>
            </li>
            <li>Network location: ({{ network.latitude }}, {{ network.longitude }})</li>
            <li>City: {{ network.city }}</li>
            <li>Region: {{ network.region }}</li>
            <li>Country: {{ network.country }}</li>
        </ul>
        {% else %}
            <p>No network information denoted by {{ networkID }}.</p>
        {% endif %}
    </div>
    <div id="network"></div>
</div>
<hr>
<div>
    <h2>The sessions going through has hop spans as follows</h2>
    <div id="hopSpan"></div>
</div>
<div>
    <h2>Show nodes in the network</h2>
    <table style="width:100%">
        <tr>
            <td>Name</td>
            <td>IP</td>
            <td>Type</td>
            <td>Node Network</td>
            <td>Latest Check</td>
        </tr>
        {% for node in network.nodes.all %}
        <tr>
            <td> {{ node.name }} </td>
            <td><a href="/get_node?id={{ node.id }}"> {{ node.ip }} </a></td>
            <td> {{ node.type }} </td>
            <td> {{ node.network_id }} </td>
            <td> {{ node.latest_check }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% if edges %}
<div>
    <h2>Show edges in the network</h2>
    <table style="width:100%">
        <tr>
            <td>Edge ID</td>
            <td>Source Node</td>
            <td>Source Node Network</td>
            <td>Source Node ISP</td>
            <td>Target Node</td>
            <td>Target Node Network</td>
            <td>Target Node ISP</td>
        </tr>
        {% for edge in edges.all %}
        <tr>
            <td><a href="/get_link?id={{ edge.id }}">{{ edge.id }}</a></td>
            <td><a href="/get_node?id={{ edge.src.id }}"> {{ edge.src.name }} </a></td>
            <td><a href="/get_network?id={{ edge.src.network.id }}"> {{ edge.src.network.id }} </a></td>
            <td><a href="/get_isp?as={{ edge.src.network.isp.ASNumber}}"> {{ edge.src.network.isp }} </a></td>
            <td><a href="/get_node?id={{ edge.dst.id }}"> {{ edge.dst.name }} </a></td>
            <td><a href="/get_network?id={{ edge.dst.network.id }}"> {{ edge.dst.network.id }} </a></td>
            <td><a href="/get_isp?as={{ edge.dst.network.isp.ASNumber }}"> {{ edge.dst.network.isp }} </a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<hr>
<script type="text/javascript">
    function draw(){
        var network_id = {{ network.id|safe }};
        drawNetwork(network_id);
        var net_size = {{ network.get_network_size|safe }};
        var str_to_write = "<table>";
        str_to_write += "<tr><td>The session id</td><td>The span of hops</td></tr>";
        console.log(net_size);
        for (var session_id in net_size )
        {
            console.log(session_id);
            console.log(net_size[session_id]);
            str_to_write += "<tr><td><a href=\"/get_session?id=" + session_id.toString() + "\">" + session_id.toString() + "</a><td>"+ net_size[session_id].toString() + "</td></tr>";
        }
        str_to_write += "</table>";
        console.log(str_to_write);
        document.getElementById("hopSpan").innerHTML = str_to_write;
    }
</script>
</body>