<!DOCTYPE HTML>
<html>
<head>
    <title>QoE time curve</title>

    <style type="text/css">
        body, html {
            font-family: sans-serif;
        }
    </style>

    <style type="text/css">
        #timecurve {
            width: 100%;
            border: 1px solid lightgray;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.min.css" rel="stylesheet" type="text/css" />
</head>
{% if session %}

    <body>

    <h1>Show details of session {{ session.id }}</h1>
    <ul>
        <li>Session Client Name: {{ session.client.name }}</li>
        <li>Session Client IP: {{ session.client.ip }}</li>
        <li>Session Server IP: {{ session.server.name }}</li>
        <li>Session Server IP: {{ session.server.ip }}</li>
    </ul>
    <hr>
    <h2>Show route of the session</h2>
    <table style="width:100%" border="1">
        <tr>
            <td>Hop ID</td>
            <td>Hop Name</td>
            <td>Hop IP</td>
            <td>Hop Network ID</td>
            <td>Node type</td>
            <td>Timestamp</td>
        </tr>
        {% for hop in hops.all %}
            <tr>
                <td> {{ hop.hopID }}</td>
                <td> {{ hop.node.name }} </td>
                <td><a href="/get_node?id={{ hop.node.id }}"> {{ hop.node.ip }} </a></td>
                <td><a href="/get_network?id={{ hop.node.network.id }}"> Network {{ hop.node.network.id }} </a></td>
                <td> {{ hop.node.type }} </td>
                <td>{{ hop.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <h2>Show subnetworks of the session</h2>
    <table style="width:100%" border="1">
        <tr>
            <td>Subnetwork ID</td>
            <td>Network ID</td>
            <td>Network Name</td>
            <td>Network AS #</td>
            <td>Network Location</td>
            <td>Network City, Region, Country</td>
        </tr>
        {% for subnet in subnets.all %}
            <tr>
                <td> {{ subnet.netID }}</td>
                <td><a href="/get_network?id={{ subnet.network.id }}"> Network {{ subnet.network.id}} </a></td>
                <td> {{ subnet.network.isp.name }} </td>
                <td> {{ subnet.network.isp.ASNumber }} </td>
                <td> ({{ subnet.network.latitude }}, {{ subnet.network.longitude }}) </td>
                <td> ({{ subnet.network.city }}, {{ subnet.network.region }}, {{ subnet.network.country }}) </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
{% else %}
    <p>Please denote the session id in http://locator/diag/get_session?id=session_id.</p>
{% endif %}
</body>
</html>