<!DOCTYPE HTML>
<html>
<head>
    <title>Session</title>
    <style type="text/css">
        body, html {
            font-family: sans-serif;
        }
    </style>

    <style type="text/css">
        #mynetwork {
            width: 49%;
            height: 400px;
            float: left;
        }
        #routeTable {
            width: 50%;
            float: right;
            font-size: 12px;
        }
        .row
        {
            height:100%;
        }

        table, th, td {
            border-collapse:collapse;
        }
        table {
            border-spacing: 1px;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/draw_networks.js"></script>
</head>
{% if session %}
    <body onload="draw()">
    <h1>Show details of session {{ session.id }}</h1>
    <ul>
        <li>Session Client Name: <a href="/get_node?id={{ session.client.id }}">{{ session.client.name }}</a></li>
        <li>Session Client IP: {{ session.client.ip }}</li>
        <li>Session Server Name: <a href="/get_node?id={{ session.server.id }}"> {{ session.server.name }}</a></li>
        <li>Session Server IP: {{ session.server.ip }}</li>
    </ul>
    <hr>
    <h2>Show session topology</h2>
    <div class="row" align="center">
    <div id="mynetwork"></div>
        <div id="routeTable">
            <table style="width:100%">
                <tr>
                    <td align="center">Hop ID</td>
                    <td align="center">Hop Name</td>
                    <td align="center">Hop IP</td>
                    <td align="center">Hop Network ID</td>
                    <td align="left">Node type</td>
                </tr>
                {% for hop in hops.all|dictsort:"hopID"  %}
                    <tr>
                        <td align="center"> {{ hop.hopID }}</td>
                        <td align="center"> {{ hop.node.name }} </td>
                        <td align="center"><a href="/get_node?id={{ hop.node.id }}"> {{ hop.node.ip }} </a></td>
                        <td align="center"><a href="/get_network?id={{ hop.node.network.id }}"> Network {{ hop.node.network.id }} </a></td>
                        <td align="left"> {{ hop.node.type }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Show subnetworks of the session</h2>
        <table style="width:95%" border="1" align="center">
            <tr>
                <td align="center">Subnetwork ID</td>
                <td align="center">Network ID</td>
                <td align="center">Network Name</td>
                <td align="center">Network AS #</td>
                <td align="center">Network Location</td>
                <td align="center">Network City, Region, Country</td>
            </tr>
            {% for subnet in subnets.all|dictsort:"netID" %}
                <tr>
                    <td align="center"> {{ subnet.netID }}</td>
                    <td align="center"><a href="/get_network?id={{ subnet.network.id }}"> Network {{ subnet.network.id}} </a></td>
                    <td align="center"> {{ subnet.network.isp.name }} </td>
                    <td align="center"> {{ subnet.network.isp.ASNumber }} </td>
                    <td align="center"> ({{ subnet.network.latitude }}, {{ subnet.network.longitude }}) </td>
                    <td align="center"> ({{ subnet.network.city }}, {{ subnet.network.region }}, {{ subnet.network.country }}) </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    <hr>
    {% if edges %}
        <div>
            <h2>Show edges in the network</h2>
            <table style="width:98%" border="1" align="center">
                <tr>
                    <td>Edge ID</td>
                    <td>Source Node</td>
                    <td>Source Node Network</td>
                    <td>Source Node ISP</td>
                    <td>Target Node</td>
                    <td>Target Node Network</td>
                    <td>Target Node ISP</td>
                </tr>
                {% for edge in edges.all %}
                <tr>
                    <td><a href="/get_link?id={{ edge.id }}">{{ edge.id }}</a></td>
                    <td><a href="/get_node?id={{ edge.src.id }}"> {{ edge.src.name }} </a></td>
                    <td><a href="/get_network?id={{ edge.src.network.id }}"> {{ edge.src.network.id }} </a></td>
                    <td><a href="/get_isp?as={{ edge.src.network.isp.ASNumber}}"> {{ edge.src.network.isp }} </a></td>
                    <td><a href="/get_node?id={{ edge.dst.id }}"> {{ edge.dst.name }} </a></td>
                    <td><a href="/get_network?id={{ edge.dst.network.id }}"> {{ edge.dst.network.id }} </a></td>
                    <td><a href="/get_isp?as={{ edge.dst.network.isp.ASNumber }}"> {{ edge.dst.network.isp }} </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% else %}
    <p>Please denote the session id in http://locator/diag/get_session?id=session_id.</p>
{% endif %}
<script type="text/javascript">
    function draw() {
        var session_id = {{ session.id|safe }};
        var ids = [];
        ids.push(session_id);
        drawRouterGraph(ids);
    }
</script>
</body>
</html>